@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-hero {
  position: relative;
  width: 100vw;
  color: black;
  height: 430px; /* Full viewport height */
  background: url('../src/assets/bg.png') no-repeat center center;
  background-size: cover;
}

.bg-secondary {
  background-color: #f9f9f2; /* Light gray background */
}

.text-primary {
  color: #333; /* Dark text for contrast */
}

.text-accent {
  color: #ff5733; /* Vibrant accent color */
}

