.choosecards-container {
 display: flex;
 justify-content: center;
 gap: 30px;
 color: black;
 padding: 50px 20px;
  
}

.choosecards {
text-align: left;
transition: transform 0.3s, box-shadow 0.3s;
border-radius: 12px;
padding: 30px 20px;
width: 250px;
}

.choosecards:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);

}

.choosecards-icon {
    
  font-size: 40px;
  color: #52a7e4; /* Bright blue */
  margin-bottom: 20px;
}

.choosecards-title {
  font-family: 'Montserrat', sans-serif;
}

.choosecards-description {

  font-family: 'Inter', sans-serif;
}
